:root{
    /* Variables texto  */
    --title: 100pt;
    --subtitle: 25pt;
    --textSize: 19pt;

    --titleMovile: 50pt;
    --subtitleMovile: 20pt;

    /* Variables color */
    --color1: white;
    --color2: #f7e9fc;
    --color3: #f094e0;
    --color4: #5f4aaa;
    --color5: #ae9df5;
    --color6: #74bbef;
    --color7: #bddcfd;
    --color8: #4964dd;
    --color9: #d9adeb;

}

@font-face{
  font-family: Dongle-Bold;
  src: url(../media/Fonts/Dongle-Bold.ttf); 
}

@font-face{
  font-family: Nunito;
  src: url(../media/Fonts/Nunito.ttf);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


/* menu */
header{
    display: flex;
    justify-content:space-between;
    
    padding: 1rem;
    background: radial-gradient(circle at top right,transparent 10%,#a28dec 10%, #a28dec 20%, transparent 21%), radial-gradient(circle at left bottom,transparent 10%,#a28dec 10%,#a28dec 20%, transparent 21%),radial-gradient(circle at top left,transparent 10%,#a28dec 10%,#a28dec 20%, transparent 21%), radial-gradient(circle at right bottom,transparent 10%,#a28dec 10%,#a28dec 20%, transparent 21%), radial-gradient(circle at center,#a28dec 30%, transparent 31%);
    background-size: 2em 2em;
    background-color: var(--color9);
    opacity: 1
}

header div{
    display: flex;
    justify-content:start;
    align-items: center;
    padding: 1rem;
}

p{
    font-family: Nunito;
}

#menu, #logo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem;
}

nav .menu-flex, #logo {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    align-items: center;
}

/* botones del menu */

nav .menu-flex a, #logo a{
    display: block;

    background-color: var(--color2);
    padding: 10px 20px;
    border-radius: 20px;
    border: 5px solid var(--color4);

    font-weight: bold;
    font-family: Dongle-Bold;
    font-size: 25px;
    color: var(--color4);
    text-decoration: none;
    transition: 0.33s;
}

nav .menu-flex a:hover{
    color: var(--color5);
    background-color: var(--color1);
}

#logo a:hover{
    color: var(--color3);
    background-color: var(--color1);
}

.btnCloseMenu, nav .menu-flex .fa-xmark{
    display: none;
}

#menuToggle{
    appearance: none;
}

.btnOpenMenu, nav .menu-flex .fa-xmark{
    display: none;
}

.btnCloseMenu{
    color: var(--color4);
    background-color: var(--color2);
    padding: 2%;
    border-radius: 60%;
    border: 5px solid var(--color4);
}

.btnOpenMenu .fa-bars:hover{
    color: var(--color3);
}

nav .menu-flex .fa-xmark:hover{
    color: var(--color3);
}

.btnOpenMenu .fa-bars, nav .fa-xmark{
    cursor: pointer;
}

/* Main */
.divisor{
    background-color: var(--color4);
    color: var(--color2);
    font-family: Dongle-Bold;
    font-size: var(--subtitle);
    display: flex;
    justify-content: center;
}

.title-guide{
    display: flex;
    justify-content: center;
}

h1{
    display: flex;
    text-align: center;
    padding: 1rem;
    font-size: var(--title);
    font-family: Dongle-Bold;
    color: var(--color3);
}

h2{
    font-family: Dongle-Bold;
    font-size: var(--subtitle);
    color: var(--color6);
    text-align: left;
}

h3{
    font-family: Dongle-Bold;
    font-size: var(--subtitle);
    color: var(--color7);
    text-align: left;
}

p{
    font-family: Nunito;
}


/* guias mundo */
.GI-guide-M {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
}

.GI-guide-M h2{
    padding: 2% 10%;
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
}

.GI-guide-M p{
    padding-left: 10%;
    padding-bottom: 2%;
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
}

.GI-guide-M .mision-guide{
    padding: 2% 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.GI-guide-M .mision-guide ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.GI-guide-M .mision-guide ul li{
    padding: 0% 20%;
}


.GI-guide-M .mision-guide a{
    display: block;

    background-color: var(--color7);
    padding: 10px 20px;
    border-radius: 20px;
    border: 5px solid var(--color8);

    font-weight: bold;
    font-family: Dongle-Bold;
    font-size: 25px;
    color: var(--color1);
    text-decoration: none;
    transition: 0.33s; 
}

.GI-guide-M .mision-guide a:hover{
    background-color: var(--color6);
}

/* guias builds */

.GI-guide-B {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
}

.GI-guide-B h2{
    padding: 2% 10%;
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
}

.GI-guide-B p{
    padding: 0% 10%;
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
}


/* guias artefactos */

.GI-guide-A {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
}

.GI-guide-A h3{
    padding: 2% 15%;
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
}

.GI-guide-A p{
    padding: 0% 15%;
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
}

.GI-guide-A .artifacts{
    padding: 2% 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.GI-guide-A .artifacts ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 12px;
    margin-right: 35px;
}

.GI-guide-A .artifacts ul li{
    height: 10vh;
    position: relative;
}

.GI-guide-A .artifacts img{
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.GI-guide-A .artifacts a{
    text-decoration: none;
}

/* guias equipos */

.GI-guide-E {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
}

.GI-guide-E h3{
    padding: 2% 15%;
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
}

.GI-guide-E p{
    padding: 0% 15%;
    display: flex;
    justify-self: flex-start;
    align-self: flex-start;
}

.GI-guide-E .teams{
    padding: 2% 10%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.GI-guide-E .teams ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 12px;
    margin-right: 35px;
}

.GI-guide-E .teams ul li{
    height: 10vh;
    position: relative;
}

.GI-guide-E .teams img{
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.GI-guide-E .teams a{
    text-decoration: none;
}

/* Footer */

footer{
    padding-top: 10vh;
    padding-bottom: 10vh;
    color: var(--color1);
    background-color: var(--color9);
    bottom: 0;
  
    display: flex;
    justify-content: center;
    align-items: first baseline;
}
  
.footerText{
    width: 80%;
    padding-right: 10%;
    padding-left: 3%;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
   
}
  
.footerText p{
    padding-bottom: 5%;
}
  
.footerText .btnContact{
   display: flex;
   justify-content: center;
   align-items:center;
   width: 50%;
   font-family: Dongle-Bold;
   font-size: 30px;
   border-radius: 20px;
   border-color: var(--color4);
   border-style: solid;
   border-width: 5px;
   background-color: var(--color2);
   transition: 0.33s;
}
  
.footerText .btnContact:hover{
    background-color: var(--color1);
}
  
.footerText .btnContact a{
    color: var(--color3);
    text-decoration: none;
    transition: 0.33s;
}
  
.footerText .btnContact a:hover{
    color: var(--color2);
    border-color: var(--color4);
}
  
  
.socialBtn 
{
    padding-top: 10%;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 3vw;
}
  
.socialBtn a
{
    text-decoration: none;
    color: var(--color1);
    font-size: var(--subtitle);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.socialBtn a:hover
{
    color: var(--color2);
}
  

/*MEDIA QUERY*/

/* TABLET */
@media only screen and (max-width: 1030px){
    
    /* Footer */
    footer{
        align-items: first baseline;
    }

    .footerText{
        width: 80%;
        padding-right: 10%;
        padding-left: 3%;
        text-align:start;
    }

    .footerText p{
        padding-bottom: 5%;
    }

    .footerText .btnContact{
        display: flex;
        justify-content: center;
    }

    .socialArea {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        padding-right: 3%;
    }

    .socialArea p{
        padding-top: 3%;
        text-align: center;
        display: flex;
        justify-content: center;
        padding-left: 3%;
    }

    .socialBtn{
        padding-right: 0;
        padding-top: 15%;
    }
}

/* MOVIL */
@media screen and (max-width: 580px) {

    /* MENU */
   #logo{
    padding: 1% 2%;
    display: flex;
    align-self: flex-start;
   }
   
   #logo a{
    font-size: 17px;
   }

   #menu .menu-flex{
    display: block;
    padding-top: 30%;
   }

   .menu-flex {
        flex-direction: column;
        vertical-align: middle;
        max-height: 0px;
        overflow: hidden;
        transition: 0.35s;
   }

   .menu-flex  li{
        padding: 5% 0%;
    }

    .menu-flex  li a{
        text-align: center;
    }

   .btnCloseMenu{
     display: block;
     position: absolute;
     top: 20px;
     right: 20px;
   }

   .btnCloseMenu i{
        font-size: 5vw;
    }

  #menuToggle:checked ~ .menu-flex{
        max-height: 350px;
    }

    /* MAIN */
    h1{
        font-size: var(--titleMovile);
        padding: 0px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .GI-guide-M p{
        padding-left: 10%;
        padding-right: 10%;
    }

    .GI-guide-E .teams ul, .GI-guide-A .artifacts ul{
        margin-right: 0px;
    }

    .GI-guide-M #mision-list{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-content:space-between;
    }

    .GI-guide-M #mision-list li{
        padding-top: 10%;
        padding-left: 0%;
    }

    .GI-guide-M #mision-list li a{
        text-align: center;
    }

    p{
        text-align: justify;
    }

    /* Footer */

    footer{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .footerText{
        width: 100%;
        padding-right: 3%;
        padding-left: 3%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .footerText p{
        padding-bottom: 5%;
    }


    .footerText .btnContact{
        display: flex;
        justify-content: center;
    }

    .socialArea {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .socialArea p{
        padding-top: 3%;
        text-align: center;
        display: flex;
        justify-content: center;
        padding-right: 3%;
        padding-left: 3%;
    }

    .socialBtn{
        padding-right: 0;
    }

        
}
