:root{
    /* Variables texto  */
    --title: 100pt;
    --subtitle: 25pt;
    --textSize: 19pt;

    --titleMovile: 50pt;
      --subtitleMovile: 20pt;


    /* Variables color */
    --color1: white;
    --color2: #f7e9fc;
    --color3: #f094e0;
    --color4: #5f4aaa;
    --color5: #ae9df5;
    --color6: #74bbef;
    --color7: #bddcfd;
    --color8: #4964dd;
    --color9: #d9adeb;

}

@font-face{
  font-family: Dongle-Bold;
  src: url(../media/Fonts/Dongle-Bold.ttf); 
}

@font-face{
  font-family: Nunito;
  src: url(../media/Fonts/Nunito.ttf);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


/* menu */
header{
    display: flex;
    justify-content:space-between;
    
    padding: 1rem;
    background: radial-gradient(circle at top right,transparent 10%,#a28dec 10%, #a28dec 20%, transparent 21%), radial-gradient(circle at left bottom,transparent 10%,#a28dec 10%,#a28dec 20%, transparent 21%),radial-gradient(circle at top left,transparent 10%,#a28dec 10%,#a28dec 20%, transparent 21%), radial-gradient(circle at right bottom,transparent 10%,#a28dec 10%,#a28dec 20%, transparent 21%), radial-gradient(circle at center,#a28dec 30%, transparent 31%);
    background-size: 2em 2em;
    background-color: var(--color9);
    opacity: 1
}

header div{
    display: flex;
    justify-content:start;
    align-items: center;
    padding: 1rem;
}

p{
    font-family: Nunito;
}

#menu, #logo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem;
}

nav .menu-flex, #logo {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    align-items: center;
}

/* botones del menu */

nav .menu-flex a, #logo a{
    display: block;

    background-color: var(--color2);
    padding: 10px 20px;
    border-radius: 20px;
    border: 5px solid var(--color4);

    font-weight: bold;
    font-family: Dongle-Bold;
    font-size: 25px;
    color: var(--color4);
    text-decoration: none;
    transition: 0.33s;
}

nav .menu-flex a:hover{
    color: var(--color5);
    background-color: var(--color1);
}

#logo a:hover{
    color: var(--color3);
    background-color: var(--color1);
}

.btnCloseMenu, nav .menu-flex .fa-xmark{
    display: none;
}

#menuToggle{
    appearance: none;
}

.btnOpenMenu, nav .menu-flex .fa-xmark{
    display: none;
}
.btnCloseMenu{
    color: var(--color4);
    background-color: var(--color2);
    padding: 2%;
    border-radius: 60%;
    border: 5px solid var(--color4);
}

.btnOpenMenu .fa-bars:hover{
    color: var(--color3);
}

nav .menu-flex .fa-xmark:hover{
    color: var(--color3);
}

.btnOpenMenu .fa-bars, nav .fa-xmark{
    cursor: pointer;
}
/* Main */
.divisor{
    background-color: var(--color4);
    color: var(--color2);
    font-family: Dongle-Bold;
    font-size: var(--subtitle);
    display: flex;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: var(--title);
    font-family: Dongle-Bold;
    color: var(--color3);
}

h2{
    font-family: Dongle-Bold;
    font-size: var(--subtitle);
    color: var(--color6);
    text-align: left;
}

.new-1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5% 10%;
}

.new-1 h2, .new-2 h2, .new-3 h2{
    padding-bottom: 2%;
}

.new-1T p{
    padding-right: 3%;
    text-align: left;
}

.new-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 5% 10%;
}

.new-2 .new-2T{
    padding: 3% 3%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    flex-direction: column;
    text-align: end;
}

.new-3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5% 10%;
}

.new-1T p{
    padding-right: 3%;
    text-align: left;
}


img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 20px;
    box-shadow: 10px 10px var(--color2);
}

/* Slideshow container */
.slideshow-container {
    max-width: 720px;
    position: relative;
    margin: auto;
    margin-top: 1em;
}

/* Esconde las imagenes */
.mySlides {
    display: none;
}

.show-slide {
    display: block;
}

.hide-slide {
    display: none;
}

/* Botones: siguiente y previa*/
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--color1);
    font-weight: bold;
    font-size: var(--subtitle);
    transition: 0.6s ease;
    border-radius: 0 20px 20px 0;
    user-select: none;
}

/* posicion botones*/
.next {
    right: 0;
    border-radius: 20px 0 0 20px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: var(--color4);
}

/* Caption text */
.text {
    color: var(--color2);
    font-size: var(--subtitle);
    font-family: Dongle-Bold;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: var(--color2);
    font-size: var(--subtitle);
    font-family: Dongle-Bold;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--color5);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: var(--color4);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}


/* Footer */

footer{
    padding-top: 10vh;
    padding-bottom: 10vh;
    color: var(--color1);
    background-color: var(--color9);
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;   
}

.footerText{
    width: 80%;
    padding-right: 410px;
    padding-left: 40px;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
}

.footerText .btnContact{
   display: flex;
   justify-content: center;
   align-items:center;
   width: 50%;
   font-family: Dongle-Bold;
   font-size: 30px;
   border-radius: 20px;
   border-color: var(--color4);
   border-style: solid;
   border-width: 5px;
   background-color: var(--color2);
   transition: 0.33s;
}

.footerText .btnContact:hover{
    background-color: var(--color1);

}

.footerText .btnContact a{
    color: var(--color3);
    text-decoration: none;
    transition: 0.33s;
}

.footerText .btnContact a:hover{
    color: var(--color2);
    border-color: var(--color4);
}

.socialBtn 
{
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 3vw;
}

.socialBtn a
{
    text-decoration: none;
    color: var(--color1);
    font-size: var(--subtitle);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socialBtn a:hover
{
    color: var(--color2);
}

/*MEDIA QUERY*/

/* TABLET */
@media only screen and (max-width: 1030px){

    /* Main */
    .new-3{
        padding-bottom: 20%;
    }

    .new-1 .new-1T, .new-2 .new-2T, .new-3 .new-3T  {
        padding-bottom: 10%;
        padding-top: 5%;
        padding-right: 2%;
    }

    .new-1 .new-1T p, .new-2 .new-2T p, .new-3 .new-3T p{
        text-align: justify;
    }

    .new-1 img, .new-2 img{
        width: auto;
        height: 20vw;
        
    }

    .new-3 img{
        width: auto;
        height: 25vw;
        
    }

    /* Footer */

    footer{
        align-items: first baseline;

    }

    .footerText{
        width: 80%;
        padding-right: 10%;
        padding-left: 3%;
        text-align:start;
        
    }
    .footerText p{
        padding-bottom: 5%;
    }


    .footerText .btnContact{
        /* padding-left: 40%; */
        display: flex;
        justify-content: center;
    }

    .socialArea {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        padding-right: 3%;
    }

    .socialArea p{
        padding-top: 3%;
        text-align: center;
        display: flex;
        justify-content: center;
        padding-left: 3%;
    }

    .socialBtn{
        padding-right: 0;
        padding-top: 15%;
        
    }


}

/* MOVIL */
@media screen and (max-width: 580px) {

    /* MENU */
   #logo{
    padding: 1% 2%;
    display: flex;
    align-self: flex-start;
    /* display: block;
    position: absolute;
    top: 20px;
    left: 20px; */
    
   }
   
   #logo a{
    font-size: 17px;
   }

   #menu .menu-flex{
    display: block;
    padding-top: 30%;
   }

   .menu-flex {
        flex-direction: column;
        vertical-align: middle;
        max-height: 0px;
        overflow: hidden;
        transition: 0.35s;
   }

   .menu-flex  li{
        padding: 5% 0%;
    }

    .menu-flex  li a{
        text-align: center;
    }

   .btnCloseMenu{
     display: block;
     position: absolute;
     top: 20px;
     right: 20px;
   }

   .btnCloseMenu i{
        font-size: 5vw;
    }

  #menuToggle:checked ~ .menu-flex
    {
        max-height: 350px;
    }

    /* MAIN */

    h1{
        font-size: var(--titleMovile);
    }

    .new-1, .new-2, .new-3{
        justify-content: center;
        flex-direction: column;
    }

    .new-3{
        padding-bottom: 20%;
    }

    .new-1T h2, .new-3T h2{
       align-items: center;
        text-align: center;
    }

    .new-2T h2{
        align-self: center;
    }

    .new-1 .new-1T, .new-2 .new-2T, .new-3 .new-3T{
        padding-bottom: 10%;
        padding-top: 5%;
    }

    .new-1 .new-1T p, .new-2 .new-2T p, .new-3 .new-3T p{
        text-align: justify;
    }

   

    /* Footer */

   footer{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .footerText{
        width: 100%;
        padding-right: 3%;
        padding-left: 3%;
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .footerText p{
        padding-bottom: 5%;
    }


    .footerText .btnContact{
        /* padding-left: 40%; */
        display: flex;
        justify-content: center;
    }

    .socialArea {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .socialArea p{
        padding-top: 3%;
        text-align: center;
        display: flex;
        justify-content: center;
        padding-right: 3%;
        padding-left: 3%;
    }

    .socialBtn{
        padding-right: 0;
    }

        
}
