:root{
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Hacemos todas las imágenes responsive */
img{
    width: 100%;
    height: auto;
    vertical-align: middle;
}

header{
    display: flex;
    justify-content:space-between;
    
    padding: 1rem;
    background-color: blue;
}

header div{
    display: flex;
    justify-content: start;
    padding: 1rem;
}

header div a{
    display: flex;
    align-content: center;
}

#menu{
    background-color: rgb(157, 78, 173);
    display: flex;
    justify-content: end;
    align-content: center;
    flex-direction: row;
    padding: 1rem;
}

#btnCloseMenu, nav .menu-flex .fa-xmark{
    display: none;
}

#btnOpenMenu, nav .menu-flex .fa-xmark{
    display: none;
}

#btnOpenMenu .fa-bars:hover{
    color: rgb(235, 153, 31);
}

nav .menu-flex .fa-xmark:hover{
    color: rgb(235, 153, 31);
}

#btnOpenMenu .fa-bars, nav .fa-xmark{
    cursor: pointer;
}

nav .menu-flex a{
    padding: 10px 20px;
    font-weight: bold;
    color: antiquewhite;
    text-decoration: none;
    transition: 0.33s;
}

nav .menu-flex a:hover{
    color: rgb(157, 78, 173);
    background-color:antiquewhite
}

/*ANIMATIONS*/
@keyframes animateTitle {
    from{
        /* color: rgb(157, 78, 173); */
    }

    to{
        /* font-size: 10vw; */
        /* color:antiquewhite; */
    }
}

/*MEDIA QUERY*/
@media screen and (max-width: 576px) {
    header {
        background-color:rgb(231, 215, 250);
    }

    nav .menu-flex{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        background-color:rebeccapurple;

        position: fixed;
        width: 100%;
        height: 100vh;
        top: -100%;
        left: 0;

        transition: 0.33s;
    }

    nav .menu-flex.show-menu{
        top: 0;
    }

    #btnOpenMenu .fa-xmark{
        display: block;
        color: antiquewhite;
    }

    header button{
        display: none;
    }
}