:root{
      /* Variables texto  */
      --title: 100pt;
      --subtitle: 25pt;
      --textSize: 19pt;

      --titleMovile: 50pt;
      --subtitleMovile: 20pt;

      /* Variables color */
      --color1: white;
      --color2: #f7e9fc;
      --color3: #f094e0;
      --color4: #5f4aaa;
      --color5: #ae9df5;
      --color6: #74bbef;
      --color7: #bddcfd;
      --color8: #4964dd;
      --color9: #d9adeb;

}

@font-face{
    font-family: Dongle-Bold;
    src: url(../media/Fonts/Dongle-Bold.ttf); 
}

@font-face{
    font-family: Nunito;
    src: url(../media/Fonts/Nunito.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* menu */
header{
    display: flex;
    justify-content:space-between;
    
    padding: 1rem;
    background: radial-gradient(circle at top right,transparent 10%,#a28dec 10%, #a28dec 20%, transparent 21%), radial-gradient(circle at left bottom,transparent 10%,#a28dec 10%,#a28dec 20%, transparent 21%),radial-gradient(circle at top left,transparent 10%,#a28dec 10%,#a28dec 20%, transparent 21%), radial-gradient(circle at right bottom,transparent 10%,#a28dec 10%,#a28dec 20%, transparent 21%), radial-gradient(circle at center,#a28dec 30%, transparent 31%);
    background-size: 2em 2em;
    background-color: var(--color9);
    opacity: 1
}

header div{
    display: flex;
    justify-content:start;
    align-items: center;
    padding: 1rem;
}

p{
    font-family: Nunito;
}

#menu, #logo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1rem;
}

nav .menu-flex, #logo {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    align-items: center;
}

/* botones del menu */

nav .menu-flex a, #logo a{
    display: block;

    background-color: var(--color2);
    padding: 10px 20px;
    border-radius: 20px;
    border: 5px solid var(--color4);

    font-weight: bold;
    font-family: Dongle-Bold;
    font-size: 25px;
    color: var(--color4);
    text-decoration: none;
    transition: 0.33s;
}

nav .menu-flex a:hover{
    color: var(--color5);
    background-color: var(--color1);
}

#logo a:hover{
    color: var(--color3);
    background-color: var(--color1);
}

.btnCloseMenu, nav .menu-flex .fa-xmark{
    display: none;
}

#menuToggle{
    appearance: none;
}

.btnOpenMenu, nav .menu-flex .fa-xmark{
    display: none;
}
.btnCloseMenu{
    color: var(--color4);
    background-color: var(--color2);
    padding: 2%;
    border-radius: 60%;
    border: 5px solid var(--color4);
}

.btnOpenMenu .fa-bars:hover{
    color: var(--color3);
}

nav .menu-flex .fa-xmark:hover{
    color: var(--color3);
}

.btnOpenMenu .fa-bars, nav .fa-xmark{
    cursor: pointer;
}

/* Main */
 h1{
    display: flex;
    justify-content: center;
    padding: 1rem;
    font-size: var(--title);
    font-family: Dongle-Bold;
    color: var(--color3);
}

h3{
    font-family: Dongle-Bold;
    font-size: var(--subtitle);
    color: var(--color6);
    text-align: center;
}

.main_img {
    padding: 10px;
    width: 40%;
}
  
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10vh;
}

/* Sección Ultimas Noticias del Main */

.newsM-title{
    font-size: 70px;
    font-family: Dongle-Bold;
    color: var(--color3);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.news-main{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1vh;
    padding-bottom: 20vh;
    padding-left: 10vh;
    padding-right: 10vh;
}

.news-main #card{
    height: 50%;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: space-around;
    align-items: center;    
    border: 5px solid var(--color4);
    border-radius: 20px;
    box-shadow: 0px 10px var(--color2);
    padding-left: 5pt;
    padding-right: 5pt;
}

.news-main #card #btnIraver{
    background-color: var(--color7);
    border-color: var(--color8);
    border-width: 5px;
    border-radius: 20px;
    border-style: solid;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding: 5px 20px;
    transition: 0.33s;
}

.news-main #card #btnIraver:hover{
    background-color: var(--color6);
}

.news-main #card #btnIraver a{
    font-family: Dongle-Bold;
    font-size: 25px;
    color: var(--color1);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.news-main #card div{
   padding: 10px 10px 30px 10px;  
}

.news-main #card #btnContainer{
    padding: 0px 0px 20px 0px;  
}

.news-main #card img{
    display:flex;
    width: 75%;
    padding-bottom: 5vh;
    max-height: 100%;
    min-width: 80%;
    object-fit: cover;
    vertical-align: bottom;
    overflow: hidden;
    gap: 12px;
}

.news-main #card #BtnIraver{
    display:flex;
    width: 40%;
    justify-self: self-end;
}

.divisor{
    background-color: var(--color4);
    color: var(--color2);
    font-family: Dongle-Bold;
    font-size: var(--subtitle);
    display: flex;
    justify-content: center;
}

/* Footer */

footer{
    padding-top: 10vh;
    padding-bottom: 10vh;
    color: var(--color1);
    background-color: var(--color9);
    bottom: 0;
  
    display: flex;
    justify-content: center;
    align-items: first baseline;
}
  
.footerText{
    width: 80%;
    padding-right: 10%;
    padding-left: 3%;
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
   
}
  
.footerText p{
    padding-bottom: 5%;
}
  
.footerText .btnContact{
   display: flex;
   justify-content: center;
   align-items:center;
   width: 50%;
   font-family: Dongle-Bold;
   font-size: 30px;
   border-radius: 20px;
   border-color: var(--color4);
   border-style: solid;
   border-width: 5px;
   background-color: var(--color2);
   transition: 0.33s;
}
  
.footerText .btnContact:hover{
    background-color: var(--color1);
}
  
.footerText .btnContact a{
    color: var(--color3);
    text-decoration: none;
    transition: 0.33s;
}
  
.footerText .btnContact a:hover{
    color: var(--color2);
    border-color: var(--color4);
}
  
  
.socialBtn {
    padding-top: 10%;
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 3vw;
}
  
.socialBtn a{
    text-decoration: none;
    color: var(--color1);
    font-size: var(--subtitle);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.socialBtn a:hover{
    color: var(--color2);
}
  

/*MEDIA QUERY*/
/* Tablet */
@media screen and (max-width: 1030px){
    /* MAIN */
    h1,h2{
        display: flex;
        justify-content: center;
        text-align: center;
    }

    h3{
        font-size: var(--subtitle);
    }

    .container .main_img{
       width: 80vw;
    }

    .news-main{
        flex-direction: column;
       align-content:center;
       justify-content: flex-start;
       padding: 0px;
    }

    .news-main .separation{
      padding: 4%;
    }

    .news-main #card{
        width: 70%;
        padding-left: 2pt;
        padding-right: 2pt;
    }

    .news-main #card #btnIraver{
        width: 40vw;
    }

    .news-main #card #btnIraver a{
        font-size: var(--subtitle);
    }

    /* Footer */
    footer{
        align-items: first baseline;
    }

    .footerText{
        width: 80%;
        padding-right: 10%;
        padding-left: 3%;
        text-align:start;   
    }
    .footerText p{
        padding-bottom: 5%;
    }

    .footerText .btnContact{
        display: flex;
        justify-content: center;
    }

    .socialArea {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        padding-right: 3%;
    }

    .socialArea p{
        padding-top: 3%;
        text-align: center;
        display: flex;
        justify-content: center;
        padding-left: 3%;
    }

    .socialBtn{
        padding-right: 0;
        padding-top: 15%;    
    }  
}

@media screen and (max-width: 580px) {

    /* MENU */
   #logo{
        padding: 1% 2%;
        display: flex;
        align-self: flex-start; 
   }
   
   #logo a{
        font-size: 17px;
   }

   #menu .menu-flex{
        display: block;
        padding-top: 30%;
   }

   .menu-flex {
        flex-direction: column;
        vertical-align: middle;
        max-height: 0px;
        overflow: hidden;
        transition: 0.35s;
   }

   .menu-flex  li{
        padding: 5% 0%;
    }

    .menu-flex  li a{
        text-align: center;
    }

   .btnCloseMenu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
   }

   .btnCloseMenu i{
        font-size: 5vw;
    }

  #menuToggle:checked ~ .menu-flex{
        max-height: 350px;
    }

    /* MAIN */

    h1,h2{
        font-size: var(--titleMovile);
        padding: 0px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .container .main_img{
       width: 100vw;
    }

    .news-main{
        flex-direction: column;
       align-content:center;
       justify-content: flex-start;
       padding: 0px;
    }

    .news-main .separation{
      padding: 4%;
    }

    .news-main #card{
        width: 70%;
        padding-left: 2pt;
        padding-right: 2pt;
    }

    /* Footer */

    footer{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .footerText{
        width: 100%;
        padding-right: 3%;
        padding-left: 3%;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .footerText p{
        padding-bottom: 5%;
    }

    .footerText .btnContact{
        display: flex;
        justify-content: center;
    }

    .socialArea {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .socialArea p{
        padding-top: 3%;
        text-align: center;
        display: flex;
        justify-content: center;
        padding-right: 3%;
        padding-left: 3%;
    }

    .socialBtn{
        padding-right: 0;
    }    
}